 RewriteEngine On   
 
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ /froacn_18-08-2015/index.php/$1 [L]
 
 ErrorDocument 404 /froacn_18-08-2015/index.php
