<IfModule mod_rewrite.so>
	RewriteEngine On
    RewriteCond $1 !^(index\.php|images|stylesheets|javascript)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.*) /froacN/index.php/$l [L]
RewriteRule ^uploadify/.*$ - [PT]
		RewriteRule ^uploads/.*$ - [PT]
</IfModule>

<IfModule !mod_rewrite.so>
	ErrorDocument 404 /froacN/index.php
</IfModule>
